{% extends 'contractor/conbase.html' %}
{% block content %}
    {% load static %}
<br>
<br>
<br>
<div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title"></span>
            <h2 class="font-weight-bold text-black">REQUEST FOR FUND</h2>
            <p class="mb-5"></p>
          </div>
        </div>

<div class="row">

          <div class="col-md-12 col-lg-12">

            <form action="#" class="p-5 bg-white" method="post">
                {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Description</label>
                  <input type="text"  class="form-control"  name="desc" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Amount</label>
                  <input type="number"  class="form-control"  name="amount" required>
                </div>
              </div>
               <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname"></label>
                  <input type="hidden"  value="{{ id }}"  name="works" required>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Request" class="btn btn-primary rounded-0 btn-lg">
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>




{% endblock %}