{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}
{#    <h1>Admin Dashboard</h1>#}
    <br>
    <br>
    <br>
    <br>
    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title"></span>
            <h2 class="font-weight-bold text-black">NEW GUEST</h2>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
          </div>
        </div>
<div id="page-inner">
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
{#<h1>New Guest Registration</h1>#}
<table class="table table-bordered table-striped table-hover">

<th class="info">Guest Name</th>
<th class="info">Email</th>
<th class="info">Contact Number</th>
<th class="info">Address</th>
<th class="info">Approve</th>
<th class="info">Reject</th>
{% for gu in guest  %}

<tr>
    <td>{{ gu.user.first_name}}</td>
    <td>{{ gu.user.email}}</td>
    <td>{{ gu.contact}}</td>
    <td>{{ gu.address}}</td>
    <td><a href="approve?id={{ gu.user_id}}" class=" btn btn-success">Approve</a></td>
    <td><a href="reject?id={{ gu.user_id}}" class=" btn btn-danger">Reject</a></td>

</tr>

    {% endfor %}
</table>
        </div>
      </div>
    </div>

{% endblock %}